/*
A style CSS file for my webpage, nothing special about it really

:3
*/

/* Changing color section */
::-moz-selection { /* Code for Firefox */
  background-color: #5abbe8;
  color: #ffffff;
}

::selection {
  background-color: #5abbe8;
  color: #ffffff;
}

/* Everything else */
/* Font 1: Main */
@font-face {
  src: url("../fonts/Web437_IBM_Model3x_Alt2.woff");
  font-family: "Model3x";
}


body, nav, ul, li {
  margin: 0;
  padding: 0;
}

body {
  /* Setting colors so browsers wouldnt override them */
  background-color: #ffffff;
  background-image: url("../images/background_new.gif");
  color: #ffffff;
  font-family: "Model3x", serif;
  line-height: 0.9;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #000000;
  /* background-color: #ffffff; */
  background-color: #10182b;
}

nav ul {
  display: flex;
  justify-content: end;
}

nav li {
  list-style-type: none;
}

nav a {
  display: inline-block;
  /* color: #000000; */
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
}

#logo {
  position: fixed;
  left: 0;
  padding: 8px;
}

#logo:hover { cursor: default; }

nav a:hover, #logo:hover {
  /* background-color: #5abbe8; */
  background-color: #2d53ad;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

main div {
  /* background-color: #ffffff; */
  background-color: #10182b;
  color: #ffffff;
  border: 2px solid #000000;
  align-self: flex-start;
}

main #main-text {
  width: 640px;
}

main #news-content {
  width: 240px;
}

main * {
  margin: 8px;
}

main a {
  color: #5abbe8;
}

main img {
  width: 320px;
}

main #news-content li {
  list-style-type: none;
}

main figcaption, .small {
  font-size: 13px;
  color: #808080;
}

#badge-header {
  margin-bottom: -36px; /* I hope this doesn't break a bunch of stuff... */
}

#badges img {
  width: auto;
  margin: 0px;
  margin-left: -8px;
  margin-right: -8px; /* Someone please take away my coding permissions */
}

@media only screen and (orientation: portrait) {
  nav ul {
    justify-content: center;
  }

  main {
    flex-direction: column;
    width: 100%;
  }

  main div {
    border-left: 0px;
    border-right: 0px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
  }
  
  main #main-text, main #news-content {
	width: 100%;
  }

  #logo {
    visibility: hidden;
  }
}
